@model IEnumerable<Vadar.Models.AspNetRoles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<head>
    <!-- Agregar enlace a tu archivo CSS -->
    <link rel="stylesheet" href="~/Estilos/mensajeros.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/boton.css" />

</head>
<p>
    <button type="button" class="btn" onclick="location.href='@Url.Action("Create")'">Crear Nuevo</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
